// pagina1 cuerpo
.contenedorMain{
    background-color:$color2;
    }
    
    .contenedorFot{
    background-color: $blanco;
    }
    small p{
        color: aliceblue;
    }
    
    a:hover{
    
        background-color: $color2;
    
    }

    .redes:hover{
        scale: 1.5;
    }

    .sider{

        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li{ text-decoration: none;
            list-style: none;
            a{

                text-decoration: none;
                color: black;
                list-style: none;
                font-size: 20px;

            }
        }

        }
    